# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files
dist/
build/

# Ignore Docker-related files
docker-compose.override.yml
*.env

# Ignore database-related files
*.sql
*.sqlite3

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore miscellaneous
coverage/
*.lock
